<h1>Property</h1>


<%= form_tag({controller: "property", action: "show"}, method: "get") do %>
  <%= label_tag(:location, "Search Location:") %>
  <%= text_field_tag(:location) %>

  <%= label_tag(:rooms, "number of bedrooms:") %>
  <%= text_field_tag(:rooms) %>

  <%= submit_tag("Search") %>


<% end %>
