<h1>Property</h1>

<h2><%= @test.inspect %></h2>

<img src="http://power.itp.ac.cn/~jmyang/funny/fun4.jpg">

<%= form_with scope: :property, local: true do |form| %>
  <p>
    <%= form.label :address %><br>
    <%= form.text_field :addr %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
